
// Sass thinks we're using the colors in the variables as strings and may shoot
// warning, it's innocuous and can be defeated by using "" + $var

$theme_fg_color: $fg_color;
$theme_text_color: currentColor;

@define-color theme_fg_color #{"" + $theme_fg_color};
@define-color theme_text_color #{"" + $theme_text_color};
@define-color theme_bg_color #{"" + $bg_color};
@define-color theme_base_color #{"" + $base_color};
@define-color theme_selected_bg_color #{"" + $selected_bg_color};
@define-color theme_selected_fg_color #{"" + $selected_fg_color};
@define-color fg_color #{"" + $theme_fg_color};
@define-color text_color #{"" + $theme_text_color};
@define-color bg_color #{"" + $bg_color};
@define-color base_color #{"" + $base_color};
@define-color selected_bg_color #{"" + $selected_bg_color};
@define-color selected_fg_color #{"" + $selected_fg_color};
@define-color insensitive_bg_color #{"" + $insensitive_bg_color};
@define-color insensitive_fg_color #{"" + $insensitive_fg_color};
@define-color insensitive_base_color #{"" + $base_color};
@define-color theme_unfocused_fg_color #{"" + $theme_fg_color};
@define-color theme_unfocused_text_color #{"" + $theme_text_color};
@define-color theme_unfocused_bg_color #{"" + $bg_color};
@define-color theme_unfocused_base_color #{"" + $base_color};
@define-color theme_unfocused_selected_bg_color #{"" + $selected_bg_color};
@define-color theme_unfocused_selected_fg_color #{"" + $selected_fg_color};
@define-color unfocused_insensitive_color #{"" + $insensitive_fg_color};
@define-color borders #{"" + $borders_color};
@define-color unfocused_borders #{"" + $borders_color};

@define-color warning_color #{"" + $warning_color};
@define-color error_color #{"" + $error_color};
@define-color success_color #{"" + $success_color};
@define-color placeholder_text_color #{#A8A8A8};
@define-color link_color #{"" + $link_color};
@define-color content_view_bg #{"" + $base_color};

//WM
$wm_highlight: lighten(opacify($header_bg, 1), 3%);
$wm_bg_unfocused: opacify($header_bg_backdrop, 1);

@define-color wm_title alpha(#{"" + opacify($header_fg, 1)}, 0.8);
@define-color wm_unfocused_title alpha(#{"" + opacify($header_fg, 1)}, 0.5);

@define-color wm_bg #{"" + opacify($header_bg, 1)};
@define-color wm_bg_unfocused #{"" + $wm_bg_unfocused};

@define-color wm_highlight #{"" + $wm_highlight};
@define-color wm_shadow alpha(#{black}, 0.35);

//WM Buttons

// Close
@define-color wm_button_close_bg #{"" + $wm_button_close_bg};
@define-color wm_button_close_hover_bg #{"" + $wm_button_close_hover_bg};
@define-color wm_button_close_active_bg #{"" + $wm_button_close_active_bg};

@define-color wm_icon_close_bg #{"" + $wm_icon_close_bg};

// Minimize, Maximize
@define-color wm_button_hover_bg #{"" + $wm_button_hover_bg};
@define-color wm_button_active_bg #{"" + $wm_button_active_bg};

@define-color wm_button_hover_border #{"" + $wm_button_hover_border};

@define-color wm_icon_bg #{"" + $wm_icon_bg};
@define-color wm_icon_unfocused_bg #{"" + $wm_icon_unfocused_bg};
@define-color wm_icon_hover_bg #{"" + $wm_icon_hover_bg};
@define-color wm_icon_active_bg #{"" + $wm_icon_active_bg};

//
// Budgie-desktop specific indicator colours
//

// unfocused window 'dot(s)'
@define-color budgie_tasklist_indicator_color #{"" + $selected_bg_color};
// focused window 'line'
@define-color budgie_tasklist_indicator_color_active #{"" + $selected_bg_color};
// group-ed and unfocused window 'line(s)'
@define-color budgie_tasklist_indicator_color_active_window #{"" + mix($selected_bg_color, $panel_bg, 54%)};
// attention 'dot'
// FIXME: we can't fill whole widget backgrounds with our suggestion colour
//        because of lacking specific style-class on 'needs_attention' state,
//        so use warning orange dot instead.
@define-color budgie_tasklist_indicator_color_attention #{"" + $warning_color};
